<!DOCTYPE html>
<html lang="en" class="[scrollbar-gutter:stable]">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "FitnessBlog" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
  </head>
  <body class="bg-app_root antialiased">
    <%= @inner_content %>
  </body>
  <%= if assigns[:ga_id] do %>
    <!-- Google Analytics -->
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};
      ga.l=+new Date;
      ga('create', '<%= assigns[:ga_id] %>', 'auto');
      ga('send', 'pageview');
      document.addEventListener("click", function(e){
         if(e.target && e.target.dataset.gaTrackClick) {
          ga('send', 'event', 'link', 'click', e.target.dataset.gaTrackClick);
         }
      });
    </script>
    <script async src="https://www.google-analytics.com/analytics.js">
    </script>
    <!-- End Google Analytics -->
  <% end %>
</html>
